@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;

        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;

        --primary: 0 0% 9%;
        --primary-foreground: 0 0% 98%;

        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;

        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;

        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;

        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;

        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;

        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;

        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;

        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;

        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    ::-webkit-scrollbar {
        width: 6px; /* Makes the scrollbar narrow */
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-muted-foreground/15 rounded-full;
    }

    ::-webkit-scrollbar-thumb:hover {
        @apply bg-muted-foreground/50;
    }


    /* Fonts */
    @font-face {
        font-family: "Dhanix14";
        src: url("../src/assets/fonts/Dhanix14-ExtendedThin.ttf");
        font-weight: 100;
    }
    @font-face {
        font-family: "Dhanix14";
        src: url("../src/assets/fonts/Dhanix14-ExtendedExtraLight.ttf");
        font-weight: 200;
    }
    @font-face {
        font-family: "Dhanix14";
        src: url("../src/assets/fonts/Dhanix14-ExtendedLight.ttf");
        font-weight: 300;
    }
    @font-face {
        font-family: "Dhanix14";
        src: url("../src/assets/fonts/Dhanix14-Extended.ttf");
        font-weight: 400;
    }
    @font-face {
        font-family: "Dhanix14";
        src: url("../src/assets/fonts/Dhanix14-ExtendedMedium.ttf");
        font-weight: 500;
    }
    @font-face {
        font-family: "Dhanix14";
        src: url("../src/assets/fonts/Dhanix14-ExtendedSemiBold.ttf");
        font-weight: 600;
    }
    @font-face {
        font-family: "Dhanix14";
        src: url("../src/assets/fonts/Dhanix14-ExtendedBold.ttf");
        font-weight: 700;
    }
    @font-face {
        font-family: "Dhanix14";
        src: url("../src/assets/fonts/Dhanix14-ExtendedExtraBold.ttf");
        font-weight: 800;
    }
    @font-face {
        font-family: "Dhanix14";
        src: url("../src/assets/fonts/Dhanix14-ExtendedHeavy.ttf");
        font-weight: 900;
    }
    @font-face {
        font-family: "Metrophobic";
        src: url("../src/assets/fonts/Metrophobic-Regular.ttf");
    }

    /* debugger */
    .debug {
        border: 1px dotted coral;
    }

    .debug-child {
        border: 1px dotted green;
    }

    @keyframes badgePulse {
        0% {
            filter: brightness(0.5) saturate(0.7);
        }
        33% {
            filter: brightness(1.1) saturate(1.2);
        }
        66% {
            filter: brightness(0.5) saturate(0.7);
        }
        100% {
            filter: brightness(0.5) saturate(0.7);
        }
    }

    .animate-badge-1 {
        animation: badgePulse 1.2s infinite;
    }

    .animate-badge-2 {
        animation: badgePulse 1.2s infinite 0.4s;
    }

    .animate-badge-3 {
        animation: badgePulse 1.2s infinite 0.8s;
    }

    @keyframes sweep {
        0% {
            background-color: #16a34a;
        }
        /* green-600 */
        33% {
            background-color: #facc15;
        }
        /* yellow-400 */
        66% {
            background-color: #ef4444;
        }
        /* red-500 */
        100% {
            background-color: #16a34a;
        }
    }

    @keyframes sweepPlus {
        0% {
            color: #16a34a;
        }
        /* green-600 */
        33% {
            color: #facc15;
        }
        /* yellow-400 */
        66% {
            color: #ef4444;
        }
        /* red-500 */
        100% {
            color: #16a34a;
        }
    }
    .animate-sweep-1 {
        animation: sweep 1.5s infinite;
    }

    .animate-sweep-2 {
        animation: sweep 1.5s infinite 0.5s;
    }

    .animate-sweep-3 {
        animation: sweep 1.5s infinite 1s;
    }

    .animate-sweep {
        animation: sweepPlus 2.2s linear infinite;
    }


}





